* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #029dbc;
    --type-color: #fa0;
    --white: #fff;
    --overlay-color: #f0f0f0;
    --bg-main-color: #131722;
    --bg-secondary-color: #1f263a;
    --transition: 0.5s;
    --padding-section: 40px 0;
}

body {
    direction: rtl;
    color: var(--white);
}

ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

a {
    text-decoration: none;
}

i {
    cursor: pointer;
}

button {
    border: none;
    cursor: pointer;
}

.container {
    padding: 0 15px;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* special Elements */
.main-title,
.more {
    width: fit-content;
    padding: 7px 20px;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 15px;
}

.main-title {
    background-color: var(--main-color);
    border-radius: 20px;
    color: var(--white);

}

.more {
    border: 2px solid var(--main-color);
    color: var(--main-color);
    cursor: pointer;
}

@media (max-width: 767px) {

    .main-title,
    .more {
        font-size: 14px;
        padding: 7px 10px;
    }
}

.triangle {
    position: absolute;
    border-width: 40px 60px;
    border-style: solid;
    border-color: var(--bg-secondary-color) transparent transparent;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

@media(max-width: 767px) {
    .triangle {
        border-width: 20px 30px;
    }
}

.fixed-episodes .triangle,
.last-episodes .triangle {
    border-color: var(--bg-main-color) transparent transparent;

}

/* Header */
header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

@media (max-width : 991px) {
    header .container {
        flex-direction: column;
        gap: 20px;
    }
}

header .container .logo {
    height: 60px;
}

.menu-control {
    color: var(--white);
    background-color: var(--bg-secondary-color);
    width: 100%;
    height: 35px;
    display: none;
    align-items: center;
    gap: 5px;
    font-weight: bold;
    font-size: 17px;
    padding: 0 10px;
}

.menu-control .burger {
    width: 25px;
    height: 25px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.menu-control .burger>span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--white);
    transition: var(--transition);
}

.menu-control .burger span.close {
    background-color: red;
    width: 80%;
}

.menu-control .burger span:first-child.close {
    transform: rotate(35deg) translate(2px, 3px);
}

.menu-control .burger span:nth-child(2).close {
    display: none;
}

.menu-control .burger span:last-child.close {
    transform: rotate(-37deg) translate(2px, -2px);
}

@media (max-width: 767px) {
    .menu-control {
        display: flex;
    }
}

.menu-control p {
    position: relative;
    transform: translateY(2px);
}

header .container .menu li a,
header .container .control li i {
    display: flex;
    align-items: center;
    justify-content: center;
}

header .container .menu li a {
    height: 60px;
    width: 70px;
    font-weight: bold;
    color: var(--bg-main-color);
    transition: var(--transition);
}

header .container .menu li a:hover {
    color: var(--main-color);
}

@media (max-width : 767px) {
    header .container .menu {
        flex-direction: column;
        width: 100%;
        gap: 1px;
        position: relative;
        transform: translateY(-16px);
        display: none;
    }

    header .container .menu.show-ul {
        display: flex;
    }

    header .container .menu li {
        position: relative;
        display: none;
    }

    header .container .menu li.show-li {
        display: block;
    }

    header .container .menu li a {
        width: 100%;
        height: 35px;
        justify-content: right;
        padding: 10px;
        border: 1px solid #ddd;
    }

    header .container .menu li::before {
        position: absolute;
        content: "";
        height: 100%;
        width: 0;
        background-color: var(--main-color);
        z-index: -1;
        transition: var(--transition);
    }

    header .container .menu li a:hover {
        color: var(--white);
    }

    header .container .menu li:hover::before {
        width: 100%;
    }
}

.control {
    position: relative;
}

header .container .control li i {
    background-color: #eee;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: -2px 1px 0 0 rgb(0 0 0 / 52%);
    transition: var(--transition);
    color: var(--bg-secondary-color);
}

header .container .control li i.pressed {
    box-shadow: none;
    transform: translate(-5px, 3px) scale(0.98);
}

.control .login {
    position: absolute;
    top: 130%;
    padding: 10px;
    width: 100%;
    border-radius: 6px;
    display: none;
    flex-direction: column;
    gap: 5px;
    background-color: var(--bg-secondary-color);
    font-weight: bold;
}

.control .login.show-login {
    display: flex;
    z-index: 1;
}

.control .login::before {
    position: absolute;
    content: "";
    border-bottom: 10px solid var(--bg-secondary-color);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    top: -12%;
}

.control .login a {
    color: rgb(204, 201, 201);
    transition: var(--transition);
}

.control .login a:hover {
    color: var(--white);
}

.search-div {
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    background-color: var(--bg-main-color);
    display: none;
    align-items: center;
    gap: 10px;
    padding: 15px;
}

.search-div.show-search {
    display: flex;
    z-index: 3;
}

.search-div .xmark {
    color: var(--bg-main-color);
    background-color: #ff0000;
    font-size: 20px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
}

.search-div .xmark:hover {
    color: #ff0000;
    background-color: var(--bg-main-color);
}

.search-div .search-form {
    flex: 1;
}

.search-div .search-form .search-input {
    background-color: transparent;
    padding: 5px 10px;
    border-radius: 4px;
    width: calc(100% - 65px);
    outline: none;
    caret-color: var(--main-color);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: inset 0px 0px 8px 1px rgb(255 255 255 / 13%);
    color: var(--white);
}

.search-div .search-form .search-input::placeholder {
    transition: var(--transition);
    font-weight: bold;
}

.search-div .search-form .search-input:focus::placeholder {
    opacity: 0;
}

.search-div .search-form button {
    background-color: var(--main-color);
    color: var(--white);
    padding: 5px 10px;
    width: 60px;
}

.search-result {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    height: fit-content;
    min-height: 300px;
    background-color: var(--bg-secondary-color);
    top: 115%;
    padding: 70px 0 20px;
    z-index: 2;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
}

.search-result.show-result {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.search-result .card {
    display: block;
}

.search-result .cardF {
    width: 250px;
}

/* Slider */

.slider {
    margin-top: 20px;
    width: 100%;
    height: 390px;
    position: relative;
    overflow: hidden;
    background-color: var(--bg-secondary-color);
}

.slider img {
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
}

.slider img.active {
    opacity: 1;
}

.slider .content {
    text-align: center;
    transform: translateY(80%);
    color: var(--white);
}

.slider .title {
    font-size: 50px;
}

.slider p {
    font-size: 30px;
    font-weight: bold;
}

@media(max-width : 767px) {
    .slider {
        height: 220px;
    }

    .slider .content .title {
        font-size: 30px;
    }

    .slider .content p {
        font-size: 20px;
    }
}

.bullets {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}

.bullets li {
    width: 12px;
    height: 12px;
    background-color: #eee;
    border-radius: 50%;
    border: 1px solid rgb(0 0 0 / 32%);
    cursor: pointer;
}

.bullets li.active {
    background-color: var(--main-color);
}

/* Fixed Anime */
.fixed-anime {
    background-color: var(--bg-secondary-color);
    padding: var(--padding-section);
    position: relative;
}

.slider-FA,
.slider-MV,
.slider-LA {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.card {
    width: 179px;
    border: 2px solid transparent;
    position: relative;
    background-color: #181f31;
    display: none;
}

.card.slide {
    display: block;
}

.card::before {
    content: "يعرض الان";
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 13px;
    background-color: var(--bg-main-color);
    padding: 3px 12px;
    border-radius: 20px;
    font-weight: bold;
    z-index: 1;
}

.image {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.image::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: var(--transition);
    display: none;
}

.card img,
.cardF img {
    width: 100%;
    transition: var(--transition);
    transform: scale(1.2);
}

.image:hover img {
    transform: scale(1.1);
}

.image:hover::before {
    display: block;
}

.card .text {
    position: relative;
}

.card h3,
.cardF h3 {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid var(--bg-main-color);
    margin: 0;
}

.card .type {
    background-color: var(--type-color);
    font-weight: bold;
    font-size: 14px;
    padding: 5px 12px;
    border-radius: 20px;
    position: absolute;
    top: -35%;
    margin-right: 5px;
    z-index: 1;
}

@media (max-width: 767px) {

    .card h3,
    .cardF h3 {
        font-size: 14px;
    }

    .card .type {
        font-size: 10px;
    }
}

.fixed-anime .control-arrow {
    position: relative;
    margin-top: 15px;
    right: 50%;
    transform: translateX(50%);
    width: fit-content;
    display: none;
    gap: 4px;
}

@media (max-width: 767px) {
    .fixed-anime .control-arrow {
        display: flex;
    }
}

.control-arrow i {
    background-color: var(--bg-main-color);
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.control-arrow i.disabled {
    pointer-events: none;
    color: red;
}

/* Fixed Episodes */
.fixed-episodes {
    background-color: var(--bg-main-color);
    padding: var(--padding-section);
    position: relative;
}

.head {
    display: flex;
    justify-content: space-between;
}

.box {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
}

.cardF {
    background-color: #181f31;
}

.cardF .text {
    position: relative;
}

.cardF .text p {
    position: absolute;
    top: -30px;
    font-weight: bold;
    right: 50%;
    transform: translateX(50%);
}

/* Most Viewed anime */
.most-viewed {
    background-color: var(--bg-secondary-color);
    padding: var(--padding-section);
    position: relative;
}

.control-arrow {
    display: flex;
    gap: 5px;
}

/* Last Episodes */
.last-episodes {
    background-color: var(--bg-main-color);
    padding: var(--padding-section);
    position: relative;
}

/* Last animes  */
.last-animes {
    background-color: var(--bg-secondary-color);
    padding: var(--padding-section);
    position: relative;
}

/* Barrier */
.barrier {
    width: 100%;
    height: 40px;
    background-color: #171d2b;
}

@media(max-width: 767px) {
    .barrier {
        height: 20px;
    }
}

/* Footer */
footer {
    background-color: var(--bg-main-color);
    padding: var(--padding-section);
}

footer .container {
    display: flex;
    justify-content: space-between;
}

@media(max-width: 767px) {
    footer .container {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
}

footer .privacy {
    color: var(--main-color);
    cursor: pointer;
    transition: var(--transition);
}

footer .privacy:hover {
    color: var(--white);
}

footer .social {
    position: relative;
    align-items: center;
    transform: translateX(-29%);
}

@media(max-width: 767px) {
    footer .social {
        transform: none;
    }
}

footer .social i {
    transition: var(--transition);
}

footer .social li:hover i {
    color: var(--white) !important;
    transform: scale(1.1);
}

footer .social li i {
    font-size: 20px;
}

footer .social li:first-child i {
    color: #0088cc;
}

footer .social li:nth-child(2) i {
    color: #833ab4;
}

footer .social li:nth-child(3) i {
    color: #ff0000;
}

footer .social li:nth-child(4) i {
    color: #1da1f2;
}

footer .social li:nth-child(5) i {
    color: #1877f2;
}

footer .copyright {
    color: #dfdfdfdd;
    text-align: center;
    line-height: 25px;
}

footer .copyright span {
    color: var(--main-color);
}

/*  */
.notification {
    background-color: var(--main-color);
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.notification::before {
    position: absolute;
    content: "اشترك في اشعارات الموقع";
    background-color: var(--bg-main-color);
    right: 120%;
    font-size: 14px;
    font-weight: bold;
    width: 120px;
    padding: 15px;
    border-radius: 10px;
    transition: var(--transition);
    transform: rotateY(90deg);
}

.notification:hover::before {
    transform: rotateY(0);
}

.notification::after {
    position: absolute;
    content: "";
    border-left: 10px solid var(--bg-main-color);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    right: 100%;
    transition: display var(--transition);
    display: none;
}

.notification:hover::after {
    display: block;
}

.notification i {
    border: 2px solid var(--white);
    font-size: 25px;
    width: 40px;
    height: 40px;
    line-height: 37px;
    border-radius: 50%;
}